@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #e3f2fe;
}
/* for Scroliabar */

/* width */
::-webkit-scrollbar{
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track{
    background: #f2f2f2;
}
/* handle*/
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: #ccc;
}
.container{
    position: relative;
    max-width: 480px;
    width: 100%;
    
}