*{
    margin: 0px;
    padding: 0px;

}
body{
    background: #fff;
    overflow: hidden;
}
#wrapper{
    margin: auto;
    width: 1200px;
}
#timer {
    text-align: center;
    padding: 10px;
    font-family: Helvetica;
    font-size: 25px;
    background: #2ECC71;
    opacity: 0.8;
    display: none;  
    color: #fff;
    letter-spacing: 2.5px;
    font-weight: 100;
}
#paraContainer{
    display: none;
    width: 550px;
    height: 600px;
    margin: 25px 10px;
    font-family: helvetica;
    font-size: 18px;
    line-height: 1.5;
    border: 2px solid #2ECC71;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
}
#textArea{
    display: none;
    margin: 25px 10px;
    width: 550px;
    height: 600px;
    resize: none;
    font-family: helvetica;
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
    outline: none;
    border: 2px solid #2ECC71;
    border-radius: 5px;
}
